# 🛡️ Environment variables and secrets
.env

# 🍏 macOS system files
.DS_Store

# 🐍 Python bytecode and cache
__pycache__/
.pytest_cache
*.pyc
*.pyo
*.pyd

# 📦 Virtual environments
.venv/
venv/
log/
# 📄 Log files
*.log

# 🧠 IDE settings (Visual Studio Code, PyCharm, etc.)
.vscode/
.idea/

# 🐳 Optional: Docker artifacts (if exported manually)
*.tar
*.bak

# 🚫 Ignore Flink job dependencies
flink_job/lib/

# other
statement/job_matches_email.html
statement/requirements_config.yaml
statement/tabelka.html
statement/statement_output.ipynb